@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('fonts/SinkinSans-100Thin-webfont.eot');
    src: url('fonts/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-100Thin-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-100Thin-webfont.woff') format('woff'),
         url('fonts/SinkinSans-100Thin-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans300_light';
    src: url('fonts/SinkinSans-300Light-webfont.eot');
    src: url('fonts/SinkinSans-300Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-300Light-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-300Light-webfont.woff') format('woff'),
         url('fonts/SinkinSans-300Light-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-300Light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

p, ul
{
    font-size: 0.8em;
    font-family: 'sinkin_sans300_light', sans-serif;
}

h1
{
    font-family: 'sinkin_sans100_thin', sans-serif;
    font-size: 1.8em;
    color: black;
}

.h2_fond
{
    font-family: 'sinkin_sans300_light', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    background-color: rgb(92, 13, 87);
    text-align: center;
    vertical-align: middle;
    height: 45px;
}

h2
{
    font-family: 'sinkin_sans300_light', sans-serif;
    font-size: 1.3em;
    color: rgb(152, 104, 149);
    text-transform: uppercase;
}

.text_lisere
{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

#lisere, #contenuCV
{
    display: inline-block;
    vertical-align: top;
}

#lisere
{
    width: 30%;
    height: 1550px;
    background-color: rgb(152, 104, 149);
}

.container_lisere
{
    display: inline-block;
}

.loisirs
{
    align-content: flex-end;
}

.icons_loisirs
{
    display: flex;
    justify-content: center;
}

.icons_lo
{
    width: 80px;
    height: 80px;
    margin: 16px;
}

img
{
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.boxshadow
{

    /* position: relative;
    box-shadow: 0, 0, 0,0.5;
    padding: 10px; */
}

.prenom
{
    color: rgb(92, 13, 87);
    font-family: 'sinkin_sans300_light', sans-serif;
}

.titre_profession
{
    font-size: 1em;
    font-family: 'sinkin_sans300_light', sans-serif;
}

#contenuCV
{
    width: 60%;
    margin: auto;
}

section
{
    vertical-align: top;
    margin-right: 2%;
}

.icons
{
    width: 50px;
    height: 50px;
}

.dates
{
    width: 30%;
}

.entreprise
{
    font-weight: bold;
    color: rgb(92, 13, 87)
}

@media all and (max-width: 1024px)
{
    div
    {
        flex-direction: column;
    }
    #lisere
    {
        flex: auto;
        width: 100%;
        height: 300px;
    }
    #contenuCV
    {
        width: auto;
    }
    table
    {
        width: auto;
    }
}